defineBinaryOperator ('|',  (...args) => pipe         (...args))
defineBinaryOperator ('<<', (...args) => compose      (...args))
defineBinaryOperator ('>>', (...args) => composeRight (...args))

import {
  pipe, compose, composeRight,
} from 'stick-js'

import React, { PureComponent, Component, } from 'react'
import PropTypes from 'prop-types'
import styled from 'styled-components'
import { connect, } from 'react-redux'
{{#if wantHeaders}}
import { Helmet, } from 'react-helmet'
{{/if}}
{{#if wantMessages}}
import { FormattedMessage, } from 'react-intl'
{{/if}}
{{#if wantActionsAndReducer}}
import { createStructuredSelector, } from 'reselect'
{{/if}}

{{#if wantSaga}}
import injectSaga from 'utils/injectSaga'
{{/if}}
{{#if wantActionsAndReducer}}
import injectReducer from 'utils/injectReducer'
import makeSelect{{properCase name}} from './selectors'
import reducer from './reducer'
{{/if}}
{{#if wantSaga}}
import saga from './saga'
{{/if}}
{{#if wantMessages}}
import messages from './messages'
{{/if}}

import config from '../../config'

// import { } from '../App/actions'
// import { } from '../../domains/api/selectors'
// import { } from '../../domains/domain/selectors'
// import { } from '../../domains/ui/selectors'
// import { } from '../../components/xxx'

export const {{ properCase name }} = (props) => <div>
  {{#if wantHeaders}}
    <Helmet>
      <title>{{properCase name}}</title>
      <meta name="description" content="Description of {{properCase name}}" />
    </Helmet>
  {{/if}}
  {{#if wantMessages}}
    <FormattedMessage {...messages.header} />
  {{/if}}
</div>

{{ properCase name }}.propTypes = {
  // dispatch: PropTypes.func.isRequired,
}

{{#if wantActionsAndReducer}}
const mapStateToProps = createStructuredSelector ({
  // apiLoading: makeSelectApiLoading (),
})
{{/if}}

const mapDispatchToProps = (dispatch) => ({
  // showAddKeyDispatch: showAddKey >> dispatch,
  // readerIDDispatch: path (['target', 'value']) >> changeReaderID >> dispatch,
})

export default {{ properCase name }}
{{#if wantActionsAndReducer}}
  | connect       (mapStateToProps, mapDispatchToProps)
{{else}}
  | connect       (null, mapDispatchToProps)
{{/if}}
{{#if wantSaga}}
  | injectSaga    ({ saga, key: '{{ camelCase name }}' })
{{/if}}
{{#if wantActionsAndReducer}}
  // --- local reducer (optional)
  | injectReducer ({ reducer, key: '{{ camelCase name }}' })
{{/if}}


