/*
Passphrases | https://github.com/micahflee/passphrases

Copyright (C) 2015-2016
    Micah Lee <micah@micahflee.com>
    Allen Haim <allen@netherrealm.net>

Permission is hereby granted, free of charge, to any person obtaining a
copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:

The above copyright notice and this permission notice shall be included
in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

// --- note: when using shortcuts for nesting/modifying, we add the prefix x-, e.g. x--active, because qtwebkit has trouble with for example .--active.

.passphrase-row-height() {
  height: 90px;
}

.rotate-warning-element() {
  // -webkit prefix only sometimes necessary? XX
  transition: transform .2s;
  -webkit-transition: -webkit-transform .2s;
  transform: rotate(359deg);
  -webkit-transform: rotate(359deg);
}

.x__menu-text-mixin() {
  opacity: 0;
  transition: height .2s, opacity .3s;
  overflow: hidden;
  color: darken(darkolivegreen, 10%);
  font-size: 14px;
  font-weight: bold;
}
.x__menu-text-secondary-mixin() {
  opacity: 1;
  position: absolute;
  top: 110%;
  right: 0%;
  white-space: nowrap;
}

.b-content {
  margin-top: 15%;
}

@media only screen and (max-width: 992px) {
  .b-generate {
    &__wordlist-description {
      text-align: center !important;
      width: 81% !important;
    }
  }
}

.b-generate,
.b-memorize,
.b-settings {
  &.x--active {
    display: block;
  }
  display: none;
}

.b-generate {
  &__wordlist-description {
    display: inline-block;
    text-align: left;
    font-size: 12px;
    width: 380px;
    vertical-align: top;

    margin-top: 10%;
  }
  &__select {
    margin-bottom: 3%;
    min-height: 160px;
    select {
      .c-form-controls-select();
      font-size: smaller(50%);
      margin-bottom: 10%;
      display: block;
    }
    .x__arrow-up,
    .x__arrow-down {
      .x__inner {
        .c-form-controls-button();
      }
    }
    .x__arrow-up {
      .x__inner {
        &.x--rotate {
          .rotate-warning-element();
        }
      }
      margin-right: 5px;
    }
    .x__arrow-down {
      margin-left: 5px;
    }
    .x__numwords {
      white-space: nowrap;
    }
  }
  .x__num-words {
    display: inline-block;
    min-width: 90px;
    font-size: 20px;
  }
  &__buttons {
    margin-top: 3%;
    text-align: center;
  }
  &__generate,
  &__memorize {
    &:not(.x--disabled) {
      cursor: pointer;
    }
    position: relative;
    top: 50%;
    @media only screen and (max-width: 600px) {
      left: -14px;
    }
    transform: translateY(-50%);
  }
  &__generate {
    &:active {
      color: grey;
    }
    .x__inner {
      &:active {
        transform: rotate(359deg);
        transition: transform .1s;
        -webkit-transform: rotate(359deg);
        -webkit-transition: -webkit-transform .1s;
      }
      &.x--rotate {
        .rotate-warning-element();
      }
    }
    @media only screen and (max-width: 600px) {
      font-size: 20px;
    }
    @media only screen and (min-width: 601px) {
      font-size: 30px;
    }
  }
  &__memorize {
    &.x--disabled {
      opacity: 0.5;
    }
    img {
      @media only screen and (max-width: 600px) {
        width: 25px;
        position: relative;
        top: -2px;
      }
      @media only screen and (min-width: 601px) {
        width: 37px;
      }
    }
  }
  &__passphrase__row {
    .passphrase-row-height();
  }
  &__passphrase-wrapper {
    @media only screen and (min-width: 600px) {
      .passphrase-row-height();
    }
    &.x--soso {
      border: 1px solid @color-soso;
    }
    &.x--weak {
      border: 2px solid @color-weak;
    }
    background-color: #ffffff;
    border: 1px solid #999999;
    padding: 15px;
  }
  &__passphrase {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }
  .x__menu-text--secondary {
    @media only screen and (max-width: 600px) {
      display: none !important;
    }
    .x__menu-text-mixin();
    .x__menu-text-secondary-mixin();
    span {
      display: none;
    }
  }
  .x__estimate {
    border-top: 1px solid maroon;
    padding-top: 3%;
  }
  // --- reference for .x__menu-text--secondary.
  position: relative;
}

.b-memorize {
}

.b-settings {
  &__explain {
    color: darken(maroon, 10%);
    line-height: 1.5em;
    padding-left: 70px;
    font-size: 95%;
  }
  &__license {
    margin-top: 7%;
  }
}

// vim: iskeyword+=_
// vim: iskeyword+=-
// vim: sw=2
