/*
Passphrases | https://github.com/micahflee/passphrases

Copyright (C) 2015-2016
    Micah Lee <micah@micahflee.com>
    Allen Haim <allen@netherrealm.net>

Permission is hereby granted, free of charge, to any person obtaining a
copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:

The above copyright notice and this permission notice shall be included
in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

.c-form-controls-select() {
  .c-form-controls();
  font-size: 20px;
}
.c-form-controls-button() {
  .c-form-controls();
  font-size: 25px;
}
.c-form-controls-checkbox-group() {
  .c-form-controls();
  border: none;
  font-size: 25px;
}

.c-form-controls() {
  &[disabled] {
    color: grey;
  }
  background: none;
  border-style: ridge;
  padding: 7px;
  //border-radius: 10px;
}

.c-guess {
  .c-guess__description {
    font-weight: bold;
  }
  .c-guess__stats {
  }
  .c-guess__quantity {
    text-decoration: underline;
    &.x--weak {
      color: @color-weak;
    }
    &.x--soso {
      color: @color-soso;
    }
    &.x--strong {
      color: @color-strong;
    }
  }
}

.c-btn {
  &:not([disabled]) {
    &:hover {
      background: #3cb0fd;
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
    }
    cursor: pointer;
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
  }
  display: inline-block;
  font-weight: bold;
  text-shadow: 1px 1px 3px #666666;
  border-radius: 10px;
  border-style: solid;
  border-width: 0px;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.c-newbtn {
  .c-form-controls-button();
}

.c-checkbox-group {
  .c-form-controls-checkbox-group();
}

.c-newbtn,
.c-checkbox-group {
  &.x--small {
    font-size: 12px;
  }
}
.c-nav {
  &__generate,
  &__memorize,
  &__settings {
    &.x--active:after {
      position: absolute;
      top: 120%;
      width: 60%;
      height: 2px;
      background: black;
      content: ' ';
    }
    &:not([class*="x--active"]) {
      cursor: pointer;
    }
    .x__menu-text {
      .x__menu-text-mixin();
      margin-top: 110px;
      position: relative;
    }
    &:hover > .x__menu-text {
      opacity: 1;
    }
    &.touch > .x__menu-text {
      opacity: 1;
    }

    display: inline-block;
    background-repeat: no-repeat;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  &__generate {
    &.x--active:after {
      left: 10%;
    }
    .x__menu-text {
      left: -8%;
    }
  }
  &__memorize {
    &.x--active:after {
      left: 22%;
    }
    .x__menu-text {
      left: 1%;
    }
  }
  &__settings {
    &.x--active:after {
      left: 9%;
    }
    .x__menu-text {
      left: -11%;
    }
  }
  &__settings {
    background-image: url(../images/option-horizontal.svg);
    background-size: 50% 50%;
    background-position-y: 25%;
    background-position-x: 25%;
    /* have to be pixels, since size of svg is % */
    width: 80px;
    height: 80px;
  }
  /*
  .dev &__settings {
    background-image: url(../images/option-horizontal.svg);
  }
  */
  &__memorize {
    background-image: url(../images/head.svg);
    background-size: 89% 89%;
    /* have to be pixels, since size of svg is % */
    width: 80px;
    height: 80px;
  }
  /*
  .dev &__memorize {
    background-image: url(../images/head.svg);
  }
  */
  &__generate {
    background-image: url(../images/dice.png);
    width: 80px;
    height: 80px;
    display: inline-block;
    background-position-y: 8px;
  }
  /*
  .dev &__generate {
    background-image: url(../images/dice.png);
  }
  */
  .row {
    height: 100%;
    > * {
      height: 100%;
    }
  }
  margin-top: 3%;
  margin-bottom: 3%;
  height: 100px;
}
.c-button-start-memorizing {
  &:not(.x--disabled) {
    cursor: pointer;
    opacity: 1;
  }
  display: inline-block;
  margin-left: 3%;
  opacity: 0.5;
  font-size: 30px;
}

// vim: sw=2
// vim: iskeyword+=_
// vim: iskeyword+=-
