/*
Passphrases | https://github.com/micahflee/passphrases

Copyright (C) 2015-2016
    Micah Lee <micah@micahflee.com>
    Allen Haim <allen@netherrealm.net>

Permission is hereby granted, free of charge, to any person obtaining a
copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:

The above copyright notice and this permission notice shall be included
in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
/*
Passphrases | https://github.com/micahflee/passphrases

Copyright (C) 2015-2016
    Micah Lee <micah@micahflee.com>
    Allen Haim <allen@netherrealm.net>

Permission is hereby granted, free of charge, to any person obtaining a
copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:

The above copyright notice and this permission notice shall be included
in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
/*
Passphrases | https://github.com/micahflee/passphrases

Copyright (C) 2015-2016
    Micah Lee <micah@micahflee.com>
    Allen Haim <allen@netherrealm.net>

Permission is hereby granted, free of charge, to any person obtaining a
copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:

The above copyright notice and this permission notice shall be included
in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
.c-guess .c-guess__description {
  font-weight: bold;
}
.c-guess .c-guess__quantity {
  text-decoration: underline;
}
.c-guess .c-guess__quantity.x--weak {
  color: #990000;
}
.c-guess .c-guess__quantity.x--soso {
  color: lightblue;
}
.c-guess .c-guess__quantity.x--strong {
  color: green;
}
.c-btn {
  display: inline-block;
  font-weight: bold;
  text-shadow: 1px 1px 3px #666666;
  border-radius: 10px;
  border-style: solid;
  border-width: 0px;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}
.c-btn:not([disabled]) {
  cursor: pointer;
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
}
.c-btn:not([disabled]):hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.c-newbtn {
  background: none;
  border-style: ridge;
  padding: 7px;
  font-size: 25px;
}
.c-newbtn[disabled] {
  color: grey;
}
.c-checkbox-group {
  background: none;
  border-style: ridge;
  padding: 7px;
  border: none;
  font-size: 25px;
}
.c-checkbox-group[disabled] {
  color: grey;
}
.c-newbtn.x--small,
.c-checkbox-group.x--small {
  font-size: 12px;
}
.c-nav {
  /*
  .dev &__settings {
    background-image: url(../images/option-horizontal.svg);
  }
  */
  /*
  .dev &__memorize {
    background-image: url(../images/head.svg);
  }
  */
  /*
  .dev &__generate {
    background-image: url(../images/dice.png);
  }
  */
  margin-top: 3%;
  margin-bottom: 3%;
  height: 100px;
}
.c-nav__generate,
.c-nav__memorize,
.c-nav__settings {
  display: inline-block;
  background-repeat: no-repeat;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.c-nav__generate.x--active:after,
.c-nav__memorize.x--active:after,
.c-nav__settings.x--active:after {
  position: absolute;
  top: 120%;
  width: 60%;
  height: 2px;
  background: black;
  content: ' ';
}
.c-nav__generate:not([class*="x--active"]),
.c-nav__memorize:not([class*="x--active"]),
.c-nav__settings:not([class*="x--active"]) {
  cursor: pointer;
}
.c-nav__generate .x__menu-text,
.c-nav__memorize .x__menu-text,
.c-nav__settings .x__menu-text {
  opacity: 0;
  transition: height .2s, opacity .3s;
  overflow: hidden;
  color: #39481f;
  font-size: 14px;
  font-weight: bold;
  margin-top: 110px;
  position: relative;
}
.c-nav__generate:hover > .x__menu-text,
.c-nav__memorize:hover > .x__menu-text,
.c-nav__settings:hover > .x__menu-text {
  opacity: 1;
}
.c-nav__generate.touch > .x__menu-text,
.c-nav__memorize.touch > .x__menu-text,
.c-nav__settings.touch > .x__menu-text {
  opacity: 1;
}
.c-nav__generate.x--active:after {
  left: 10%;
}
.c-nav__generate .x__menu-text {
  left: -8%;
}
.c-nav__memorize.x--active:after {
  left: 22%;
}
.c-nav__memorize .x__menu-text {
  left: 1%;
}
.c-nav__settings.x--active:after {
  left: 9%;
}
.c-nav__settings .x__menu-text {
  left: -11%;
}
.c-nav__settings {
  background-image: url(../images/option-horizontal.svg);
  background-size: 50% 50%;
  background-position-y: 25%;
  background-position-x: 25%;
  /* have to be pixels, since size of svg is % */
  width: 80px;
  height: 80px;
}
.c-nav__memorize {
  background-image: url(../images/head.svg);
  background-size: 89% 89%;
  /* have to be pixels, since size of svg is % */
  width: 80px;
  height: 80px;
}
.c-nav__generate {
  background-image: url(../images/dice.png);
  width: 80px;
  height: 80px;
  display: inline-block;
  background-position-y: 8px;
}
.c-nav .row {
  height: 100%;
}
.c-nav .row > * {
  height: 100%;
}
.c-button-start-memorizing {
  display: inline-block;
  margin-left: 3%;
  opacity: 0.5;
  font-size: 30px;
}
.c-button-start-memorizing:not(.x--disabled) {
  cursor: pointer;
  opacity: 1;
}
/*
Passphrases | https://github.com/micahflee/passphrases

Copyright (C) 2015-2016
    Micah Lee <micah@micahflee.com>
    Allen Haim <allen@netherrealm.net>

Permission is hereby granted, free of charge, to any person obtaining a
copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:

The above copyright notice and this permission notice shall be included
in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
.b-content {
  margin-top: 15%;
}
@media only screen and (max-width: 992px) {
  .b-generate__wordlist-description {
    text-align: center !important;
    width: 81% !important;
  }
}
.b-generate,
.b-memorize,
.b-settings {
  display: none;
}
.b-generate.x--active,
.b-memorize.x--active,
.b-settings.x--active {
  display: block;
}
.b-generate {
  position: relative;
}
.b-generate__wordlist-description {
  display: inline-block;
  text-align: left;
  font-size: 12px;
  width: 380px;
  vertical-align: top;
  margin-top: 10%;
}
.b-generate__select {
  margin-bottom: 3%;
  min-height: 160px;
}
.b-generate__select select {
  background: none;
  border-style: ridge;
  padding: 7px;
  font-size: 20px;
  font-size: smaller(50%);
  margin-bottom: 10%;
  display: block;
}
.b-generate__select select[disabled] {
  color: grey;
}
.b-generate__select .x__arrow-up .x__inner,
.b-generate__select .x__arrow-down .x__inner {
  background: none;
  border-style: ridge;
  padding: 7px;
  font-size: 25px;
}
.b-generate__select .x__arrow-up .x__inner[disabled],
.b-generate__select .x__arrow-down .x__inner[disabled] {
  color: grey;
}
.b-generate__select .x__arrow-up {
  margin-right: 5px;
}
.b-generate__select .x__arrow-up .x__inner.x--rotate {
  transition: transform .2s;
  -webkit-transition: -webkit-transform 0.2s;
  transform: rotate(359deg);
  -webkit-transform: rotate(359deg);
}
.b-generate__select .x__arrow-down {
  margin-left: 5px;
}
.b-generate__select .x__numwords {
  white-space: nowrap;
}
.b-generate .x__num-words {
  display: inline-block;
  min-width: 90px;
  font-size: 20px;
}
.b-generate__buttons {
  margin-top: 3%;
  text-align: center;
}
.b-generate__generate,
.b-generate__memorize {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.b-generate__generate:not(.x--disabled),
.b-generate__memorize:not(.x--disabled) {
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .b-generate__generate,
  .b-generate__memorize {
    left: -14px;
  }
}
.b-generate__generate:active {
  color: grey;
}
.b-generate__generate .x__inner:active {
  transform: rotate(359deg);
  transition: transform .1s;
  -webkit-transform: rotate(359deg);
  -webkit-transition: -webkit-transform 0.1s;
}
.b-generate__generate .x__inner.x--rotate {
  transition: transform .2s;
  -webkit-transition: -webkit-transform 0.2s;
  transform: rotate(359deg);
  -webkit-transform: rotate(359deg);
}
@media only screen and (max-width: 600px) {
  .b-generate__generate {
    font-size: 20px;
  }
}
@media only screen and (min-width: 601px) {
  .b-generate__generate {
    font-size: 30px;
  }
}
.b-generate__memorize.x--disabled {
  opacity: 0.5;
}
@media only screen and (max-width: 600px) {
  .b-generate__memorize img {
    width: 25px;
    position: relative;
    top: -2px;
  }
}
@media only screen and (min-width: 601px) {
  .b-generate__memorize img {
    width: 37px;
  }
}
.b-generate__passphrase__row {
  height: 90px;
}
.b-generate__passphrase-wrapper {
  background-color: #ffffff;
  border: 1px solid #999999;
  padding: 15px;
}
@media only screen and (min-width: 600px) {
  .b-generate__passphrase-wrapper {
    height: 90px;
  }
}
.b-generate__passphrase-wrapper.x--soso {
  border: 1px solid lightblue;
}
.b-generate__passphrase-wrapper.x--weak {
  border: 2px solid #990000;
}
.b-generate__passphrase {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.b-generate .x__menu-text--secondary {
  opacity: 0;
  transition: height .2s, opacity .3s;
  overflow: hidden;
  color: #39481f;
  font-size: 14px;
  font-weight: bold;
  opacity: 1;
  position: absolute;
  top: 110%;
  right: 0%;
  white-space: nowrap;
}
@media only screen and (max-width: 600px) {
  .b-generate .x__menu-text--secondary {
    display: none !important;
  }
}
.b-generate .x__menu-text--secondary span {
  display: none;
}
.b-generate .x__estimate {
  border-top: 1px solid maroon;
  padding-top: 3%;
}
.b-settings__explain {
  color: #4d0000;
  line-height: 1.5em;
  padding-left: 70px;
  font-size: 95%;
}
.b-settings__license {
  margin-top: 7%;
}
/*
Passphrases | https://github.com/micahflee/passphrases

Copyright (C) 2015-2016
    Micah Lee <micah@micahflee.com>
    Allen Haim <allen@netherrealm.net>

Permission is hereby granted, free of charge, to any person obtaining a
copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:

The above copyright notice and this permission notice shall be included
in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
.u-hide {
  display: none;
}
.u-text-left {
  text-align: left;
}
.u-text-middle {
  text-align: center;
}
.u-text-right {
  text-align: right;
}
.u-margin-lr-auto {
  margin-left: auto;
  margin-right: auto;
}
.u-vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.u-inline-block {
  display: inline-block;
}
.u-vtop {
  vertical-align: top;
}
.u-border-red {
  border: 1px solid red;
}
/*
Passphrases | https://github.com/micahflee/passphrases

Copyright (C) 2015-2016
    Micah Lee <micah@micahflee.com>
    Allen Haim <allen@netherrealm.net>

Permission is hereby granted, free of charge, to any person obtaining a
copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:

The above copyright notice and this permission notice shall be included
in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
.memorize-input {
  text-align: center;
  font-size: 20px;
}
.memorize-stats {
  text-align: center;
  margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  .memorize-note {
    width: 50%;
  }
}
.memorize-stat,
.memorize-note {
  display: inline-block;
  margin: 0 20px;
}
.memorize-tries {
  font-weight: bold;
  color: #009900;
}
.passphrase-to-memorize,
.passphrase-test {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding: 15px;
  width: 90%;
  /*
  background-color: #ffffff;
  */
  background-color: #ffffee;
}
.typo {
  background-color: #ffcccc;
}
.memorize-go {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .memorize-active .x__passphrase {
    margin-top: 13%;
    margin-bottom: 8%;
  }
}
@media only screen and (mix-width: 601px) {
  .memorize-active .x__passphrase {
    margin-top: 2%;
    margin-bottom: 4%;
  }
}
.hint {
  height: 20px;
  margin-bottom: 3%;
}
.hint-progress-wrapper {
  width: 100%;
  height: 20px;
  background-color: #666666;
  border: 2px solid #666666;
}
.hint-progress {
  width: 0%;
  height: 20px;
  background-color: #66ff66;
}
.hint-show {
  /*
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  */
  font-weight: bold;
  font-size: 15px;
  color: #000000;
  text-align: center;
}
.memorize-warning {
  font-size: 14px;
  color: #666666;
  margin-top: 4%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.memorize-go .cancel-wrapper {
  margin-top: 4%;
}
.memorize-input-form {
  margin-top: 3%;
}
.countdown {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.memorize-ready {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 15px 0;
}
.about-license {
  font-family: sans-serif;
  font-style: italic;
  font-size: 13px;
  color: #666666;
  margin-top: 90px;
  text-align: center;
}
/*
 * xs: > 0
 * sm: > 768
 * md: > 992
 * lg: > 1200
 */
@font-face {
  font-family: MontserratLight;
  /*
    src: url(qrc:///fonts/Montserrat-Light.otf) format("opentype");
    */
  src: url(../fonts/Montserrat-Light.otf) format("opentype");
}
body {
  margin: 0;
  padding: 0;
  background-image: url(../images/background-light.png);
  /* slows down webkit XX
  font-family: 'MontserratLight';
  */
}
body.dev {
  background-image: url(../images/background-light.png);
}
